.chat
  .chat__side
    = render partial: "chat_side_top"
    = render partial: "chat_side_glist"
  .chat__main
    .chat__main__border
    = render partial: "chat_main_header"
    .main__message
      = render partial: "chat_main_message"
      = render partial: "chat_main_footer"