.messages
  = render @messages

.main__footer
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'main__footer__text', placeholder: 'type a message'
    .main__footer__form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        .hidden
    = f.submit 'Send', class: 'main__footer__send-button'